<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Código</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" placeholder="Código" ng-model="vm.produto.id">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Loja</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Loja" ng-model="vm.produto.id_loja">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Nome" ng-model="vm.produto.nome">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Descrição
        </label>
        <div class="col-sm-10">
          <textarea class="form-control" placeholder="Descrição" ng-model="vm.produto.descricao" rows="12"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Código de Barras</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Código de Barras" ng-model="vm.produto.codigo_barra">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Localização</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Localização" ng-model="vm.produto.localizacao">
        </div>
      </div>

      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-disabled="!vm.novoHabilitado" ng-click="vm.incluir()">Novo
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.salvar()">Salvar</button>
      </div>

      <div class="form-group codigos">
        <div class="text-center col-md-6">
          <qrcode version="5" error-correction-level="M" size="200" data="{{vm.produto.id_loja}}"></qrcode>
        </div>
        <div class="text-center col-md-6">
          <io-barcode code="{{vm.produto.codigo_barra}}" type="EAN"></io-barcode>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <table class="table">
      <thead>
      <tr>
        <th>
          Nome
        </th>
        <th>
          Localização
        </th>
        <th>
          Selecionar
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="model in vm.produtos">
        <td>{{model.nome}}</td>
        <td>{{model.localizacao}}</td>
        <td>
          <button class="btn btn-default" type="submit" ng-click="vm.selecionar($index)">Selecionar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="list-group">
      <li ng-repeat="relacionado in vm.relacionados" class="list-group-item">
        {{relacionado.nome}}
      </li>
    </ul>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="vm.incluirRelacionado()">Novo</button>
      <button type="button" class="btn btn-default" ng-click="vm.salvarRelacionado()">Salvar</button>
    </div>
  </div>
</div>